body {
  background-image: url('images/background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  width:95%;
  margin:auto;
}



header{
       text-align: center;
       background-image: url('images/background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  }
  
  
  .jumbotron{margin-right:20px;}
  
  nav a{margin-left: 20px;}