nav{
	
	border-top: medium solid #0d1f2d;
	border-bottom: medium solid #0d1f2d;
	
}

.clear-float{clear:both;}

nav .nav-item{float:left;
		padding-left:12px;
		padding-right:12px;
		margin-top:15px;
		margin-left:20px;
		}

footer{
        margin-left:auto;
        margin-right:auto;
        margin-top:13px;
		margin-bottom:.5px;
		border-top: medium solid #0d1f2d;
	border-bottom: medium solid #0d1f2d;
		}

footer p{ max-width:400px;
		margin-left:auto;
        margin-right:auto;
		margin-top:13px;}
		
.jumbotron{font-family: 'Abril Fatface', cursive, 'Times New Roman', Times, serif; }
header h2{font-family: 'Coda Caption', sans-serif;
			text-align:center;}

nav a:visited{color: purple;
				}
nav a:hover{font-weight:bold;}

 header{background-color:white;
                    padding-bottom:1px;}
footer{background-color:white;}
  nav{background-color:white;}

.carousel{margin-left:auto;
		  margin-right:10px;
		  
		  height:95%;
		  margin-right:40px;
		  margin-left:20px;}
		  
.carousel-inner{position:relative;
						height:100%;
						margin-top:30px;}
						
						
				

.carouselImage{width:100%;
			   height:400px;
			   object-fit:cover;}
			   
			   
.header-banner {position:fixed;
  padding: 10px;
  background-color: #f44336;
  color: white;
  width:100%;
  text-align: center;
}


				   
