nav{
	
	border-top: medium solid #0d1f2d;
	border-bottom: medium solid #0d1f2d;
	
}

.clear-float{clear:both;}

nav a{float:left;
		padding-left:12px;
		padding-right:12px;
		margin-top:15px;
		margin-left:20px;}

footer{
        margin-left:auto;
        margin-right:auto;
        margin-top:13px;
		margin-bottom:.5px;
		border-top: medium solid #0d1f2d;
	border-bottom: medium solid #0d1f2d;
		}

footer p{ max-width:400px;
		margin-left:auto;
        margin-right:auto;
		margin-top:13px;}
		
header{font-family: 'Abril Fatface', cursive, 'Times New Roman', Times, serif; }

nav a:visited{color: purple;}
nav a:hover{font-weight:bold;}

